html {
  background-image: url(bg2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 40px;
  min-width: 390px;
  background-color: rgb(0, 40, 78);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
  background-color: black;
}
.judul {
  padding-left: 15px;
  font-weight: bold;
  font-size: 18px;
  animation: gerak 2s 0s infinite;
}

.nav ul {
  list-style-type: none;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.menu a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}
.menu :hover {
  color: black;
  background-color: rgb(197, 255, 255);
  transition: 0.4s;
  transition-property: inherit;
}
@keyframes gerak {
  0% {
    color: white;
  }
  50% {
    color: rgb(0, 0, 0);
  }
  100% {
    color: white;
  }
}
/*------------------------------------------------------*/
.container {
  margin: 30px 0;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.container .foto {
  text-align: center;
}

.container .foto img {
  margin: 0px 50px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px rgb(0, 0, 0);
}

.teks h1 {
  padding: 0px 20px;
  margin: 10px 50px;
  text-align: center;
}
.teks h2 {
  padding: 0px 20px;
  margin: 0px 50px;
  text-align: center;
}

p {
  padding: 10px;
  text-align: justify;
  margin: 10px;
  font-size: 12pt;
}

/*-------------------------------------------*/
.footer {
  height: 100px;
  background-color: black;
  color: #ffffff;
  text-align: center;
}
.footer h5 {
  font-size: 15px;
  padding-top: 10px;
  margin: 10px;
}
.footer a {
  display: inline-block;
}

.g {
  width: 35px;
  height: 35px;
  padding: 0px 10px;
  border-radius: 50%;
  animation: kedip 1s infinite;
}
.g:hover {
  animation: none;
}
.kontak {
  position: fixed;
  bottom: 20px;
  right: 0px;
  width: 70px;
  height: 70px;
}

.kontak img {
  float: right;
  width: 60px;
  opacity: 40%;
  transition: 0.4s;
}
.kontak img:hover {
  width: 70px;
  transition: 0.1s;
  opacity: 100%;
}

@media (max-width: 868px) {
  .container {
    grid-template-columns: 1fr;
  }
  .container .foto {
    text-align: center;
  }
  .container .foto img {
    max-width: 150px;
    max-height: 150px;
  }
}

@media (max-width: 545px) {
  .nav ul {
    display: none;
  }
  .nav {
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  .nav .judul {
    padding: 0;
  }
}
